@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-inner-circle {
  box-shadow: inset 0 2px 20px 0 #fff;
}

.scroll-body {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(80vh);
  scroll-snap-type: y mandatory;
}

.scroll-snap {
  scroll-snap-align: center;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  background-color: transparent;
  resize: none;
  outline: none;
}

@media  screen and (min-width: 1536px) {
  .mycard {
  max-width: calc(33% - 50px);

}
}
