@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-inner-circle { box-shadow: inset 0 2px 20px 0 #fff; }

.scroll-body {
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(80vh);
	scroll-snap-type: y mandatory;  
}

.scroll-snap {
	scroll-snap-align: center;
}